@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
    font-family: 'Open sans', sans-serif;
}

table, #gameboard, tr, td {
    border: solid;
}

td {
    height: 3rem;
    width: 3rem;;
}
